@using GameLogic.Arena
@using GameLogic.Characters
@using GameLogic.Enums
@model GameLogic.Game.Game
@{
    ViewBag.Title = "Arena";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title </title>
    <script type="text/javascript">
        $(document).ready(function () {
            Arena.initialize();
        });    
    </script>
</head>
<body>
    <h2>Welcome to the Arena!</h2>
    <div id="playerInfo">
        Player Information
        <div>
            <span>Player Health: @Model.Arena.Player.Health</span>
        </div>
    </div>
    <div id="enemyInfo">
        Enemy information
        @{
            foreach (var c in Model.Arena.Characters.Where(i => i.GetAlliance() == Alliance.Opponent))
            {
                <div>
                    <span>Enemy Name: @c.Name</span>
                    <span>Enemy Health: @c.Health</span>
                </div>
            }
        }
    </div>
    <div id="arenaFloor">
        @{
            var playerLoc = Model.Arena.Player.ArenaLocation.GetTileLocation();
            var characterLocations = Model.Arena.Characters.Select(i => i.ArenaLocation.GetTileLocation());
            for (var i = 0; i < Model.Arena.ArenaFloor.GetLength(0); i++)
            {
                <div class="arenaFloorRow">
                    @for (var j = 0; j < Model.Arena.ArenaFloor.GetLength(1); j++)
                    {
                        <div class="arenaFloorTile" data-xcoord="@i" data-ycoord="@j">
                            @if (playerLoc.XCoord == @i &&
                                 playerLoc.YCoord == @j)
                            {

                                <span>P</span>
                            } 
                        </div>
                    }
                </div>
            }


            
        }
    </div>

    <div id="playerActions">

    </div>
    <div id="chooseOpponent">
        
    </div>
</body>
</html>
