@using GameLogic.Arena
@using GameLogic.Characters.Bots
@using GameLogic.Characters.Player
@using GameLogic.Enums
@model GameLogic.Game.Game
@{
    ViewBag.Title = "Arena";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title </title>
    <script type="text/javascript">
        $(document).ready(function () {
            Arena.initialize();
        });    
    </script>
</head>
<body>
    <h2>Welcome to the Arena!</h2>
    <div id="playerInfo">
        Player Information
        <div>
            <span>Player Health: @Model.Player.Health</span>
        </div>
    </div>
    <div id="enemyInfo">
        Enemy information
        @{
            foreach (var c in Model.Arena.Characters.Where(i => i.GetAlliance() == Alliance.TeamTwo))
            {
                <div>
                    <div>
                        <span>Enemy Name: @c.Name</span>
                    </div>
                    <div>
                        <span>Enemy Health: @c.Health</span>
                    </div>
                </div>
            }
        }
    </div>
    <div id="arenaFloor">
        @{
            for (var i = 0; i < Model.Arena.ArenaFloor.GetLength(0); i++)
            {
                <div class="arenaFloorRow">
                    @for (var j = 0; j < Model.Arena.ArenaFloor.GetLength(1); j++)
                    {
                        var entity = (from ArenaFloorTile tile in Model.Arena.ArenaFloor
                                        where tile.GetTileEntity() != null &&  tile.GetTileLocation().XCoord == i && tile.GetTileLocation().YCoord == j
                                        select tile.GetTileEntity()).FirstOrDefault();
                        <div class="arenaFloorTile" data-xcoord="@i" data-ycoord="@j">
                            @if (entity is Player)
                            {
                                <span>P</span>
                            } 
                            @if (entity is Bot)
                            {
                                <span>B</span>
                            }
                        </div>
                    }
                </div>
            }
        }
    </div>

    <div id="playerActions"></div>
    <div id="chooseOpponent"></div>
    <div id="battleOver"></div>
</body>
</html>
