
@using GameLogic.Enums
@model GameLogic.Tournament.BattleDetails
@{
    Layout = null;
}

<div class="versusContainer">
    <div class="centeredTextContainer">
        @if (Model.BattleStatus == BattleStatus.BattleOver)
        {
            if (Model.WinningTeam == Model.Participants.ElementAt(0).Character.GetAlliance())
             {
                 
                 <span class="emphasisePositiveText">WIN </span>
             }
            if (Model.WinningTeam == Model.Participants.ElementAt(1).Character.GetAlliance())
            {
                <span class="emphasiseNegativeText">LOSS </span>
            }

        }<span class="centeredText"><a href="#" data-charactername="@Model.Participants.ElementAt(0).Character.Name">@Model.Participants.ElementAt(0).Character.Name</a></span>
    </div>
    <div class="centeredTextContainer">
        <span class="centeredText boomText">VS</span>
    </div>
    <div class="centeredTextContainer">
        @if (Model.BattleStatus == BattleStatus.BattleOver)
        {
            if (Model.WinningTeam == Model.Participants.ElementAt(1).Character.GetAlliance())
            {

                <span class="emphasisePositiveText">WIN </span>
            }
            if (Model.WinningTeam == Model.Participants.ElementAt(0).Character.GetAlliance())
            {
                <span class="emphasiseNegativeText">LOSS </span>
            }

        }<span class="centeredText"><a href="#" data-charactername="@Model.Participants.ElementAt(1).Character.Name">@Model.Participants.ElementAt(1).Character.Name</a></span>
    </div>
    @if (Model.BattleStatus == BattleStatus.BattleOver)
    {
        <div>
            <input type="button" value="View Result" data-battleguid="@Model.BattleGuid.ToString()" />
        </div>
    }
    @if (Model.BattleStatus == BattleStatus.NotStarted && Model.BattleMode == BattleMode.ComputerVsComputer)
    {
        <div>
            @using (Html.BeginForm("WatchMatch", "Tournament", new { battleGuid = Model.BattleGuid }))
            {
                <button type="submit">Watch</button>
            }
            @using (Html.BeginForm("SimulateBattle", "Tournament", new  { battleGuid = Model.BattleGuid }))
            {
                <button type="submit">Simulate</button>
            }
        </div>
    }
</div>